<!DOCTYPE html>
<html lang="en">

<!-- supplied code -->

<head>
  <title>Favorites</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <!-- <link rel="stylesheet" href="/styles/main.css" /> -->
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
  <link rel="stylesheet" href="/styles/product-view.css" type="text/css" />
  <link rel="stylesheet" href="/styles/favorites.css" type="text/css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>
<!-- supplied code -->

<body>

  <%- include('partials/header') %>

    <div class="favorite-items">

      <h1>Your favorites</h1>

      <div class="item-boxes">
        <% for (const favorite of favorites ) { %>
          <!-- item  -->
          <div class="item-box">
            <img class="product-image" src="<%= favorite.photo %>" alt="<%= favorite.title %>">
            <div class="product-info">
              <text><strong>Title:</strong>
                <%= favorite.title %>
              </text>
              <br>
              <text><strong>Price:</strong>
                <%= favorite.price %> CAD
              </text>
            </div>
            
            <div class="buttons">
              <form method="POST" action="/favorites/<%= favorite.id %>/delete">
                <button type="submit">Remove</button>
              </form>
              <form method="POST" action="/favorites/<%= favorite.id %>/contact-seller">
                <button type="submit">Contact Seller</button>
              </form>
            </div>
          
          </div>
          <% } %>
      </div>
    </div>


    <!-- FOOTER -->
    <%- include('partials/footer') %>

</body>

</html>