<!DOCTYPE html>
<html lang="en">

<!-- supplied code -->

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/index.css" />
  <!-- <link rel="stylesheet" type="text/css" href="/styles/carousel_styles.css"> -->
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/footer.css" type="text/css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script defer src="/scripts/searchDatabase.js"></script>
  <!-- <script type="text/javascript" src="/public/scripts/carousel_script.js"></script> -->
</head>
<!-- supplied code -->

<body>

  <!-- header link -->
  <%- include('partials/header') %>

    <form action="/search" method="get" id="submit-form"></form>
    <input type="text" id="myInput" placeholder="Search for items..">
    <button type="button" onclick="searchDatabase()">Search</button>
    </form>
    <!-- main content -->
   

    <!-- carousel with categories -->
    <div class="carousel">
      <%- include('partials/carousel_index') %>
    </div>




    <!-- PRODUCTS -->

    <h1>Products</h1>

    <div class="products">
      <% for (let i = 0; i < 6; i++) { %>
        <!-- item <%= i+1 %> -->
        <div class="product-box">
          <img class="product-image" src="<%= products[i].photo %>" alt="<%= products[i].title %>">
          <div class="product-info">
            <text><strong>Title:</strong> <%= products[i].title %></text>
            <br>
            <text><strong>Price:</strong> <%= products[i].price %> CAD</text>
          </div>
        </div>
      <% } %>
    </div>

    <!-- </div> -->

    <!-- FOOTER -->
    <%- include('partials/footer') %>

</body>

</html>
