<!DOCTYPE html>
<html lang="en">

<head>
  <title>Search Results</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <!-- <link rel="stylesheet" href="/styles/main.css" /> -->
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
  <link rel="stylesheet" href="/styles/product-view.css" type="text/css" />
  <link rel="stylesheet" href="/styles/search.css" type="text/css">
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>


<body class="product-view-body-search">

  <%- include('partials/header') %>

    <h1> Search Results</h1>
    <!-- products for the search bar showing -->
    <% for (const product of results ) { %>
      <div class="product-box">
        <img class="product-image" src="<%= product.photo %>" alt="<%=product.title %>">
        <div class="product-info">
          <h2>
            <%= product.title %>
          </h2>
          <p>
            <%= product.description %>
          </p>
          <p>
            $<%= product.price %>
          </p>
          <p>
            <%= product.category %>
          </p>
        </div>
        <% } %>




    </div>


</body>

</html>
